<%= form_for @question, url: "/questions/#{@question.id}", method: :put, html: { style: "width:25%;"}  do |f| %>
  <div class="form-group">
    <label>Edit Question</label>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter Question" %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>

