<%= form_for @survey, url: surveys_path(@survey), html: { style: "width:25%;"}  do |f| %>
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter Title" %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>

