<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <% if flash[:error] %>
      <p style="color: red;"><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p style="color: green;"><%= flash[:notice] %></p>
    <% end %>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/surveys">Surveys List</a></li>
        <li><a href="/surveys/new">New Survey</a></li>
      </ul>
    </div>
  </div>
</nav>